.Cal {
  display: flex;
  width: 350px;
  height: 240px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.Cal > div {
  width: 100%;
}

.CalMonHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 44px;
  margin-bottom: 16px;
}

.CalMonHeader div {
}

.CalMonHeaderSelect {
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CalMonHeaderSelect:hover {
  background-color: #e6e6e6;
}

.CalMonHeaderDate {
}

.CalMon {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
}

.CalMon div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CalMonDay {
  width: 50px;
  height: 36px;
  background-color: white;
  cursor: pointer;
}

.CalMonDay:hover {
  background-color: #e6e6e6;
}

.CalMon > .CalMonDayToday {
  background-color: #ffff76;
}

.CalMon > .CalMonDayActive {
  background-color: #006edc;
  color: white;
}

.CalMon > .CalMonDayNonCurMon {
  color: #757575;
}





